################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SourceGeneratorSamples/CommunityToolKitCoreDemo/.vs
/SourceGeneratorSamples/CommunityToolKitCoreDemo/CommunityToolKitCoreDemo/bin
/SourceGeneratorSamples/CommunityToolKitCoreDemo/CommunityToolKitCoreDemo/obj
/SourceGeneratorSamples/CommunityToolKitDemo/.vs/CommunityToolKitDemo
/SourceGeneratorSamples/CommunityToolKitDemo/CommunityToolKitDemo/bin
/SourceGeneratorSamples/CommunityToolKitDemo/CommunityToolKitDemo/obj
/SourceGeneratorSamples/CommunityToolKitCoreDemo/CommunityToolKitCoreDemo/bin
.vscode
